##### 1- Import libs

In [1]:
import pandas as pd
import numpy as np 
import matplotlib as plt 
import seaborn as sns
import os

##### 2- Prepare the used dataset

In [2]:
os.listdir()

['.gitkeep', 'data_eda.ipynb', 'xx.ipynb']

In [3]:
DATA_PATH = '../data/raw'

In [4]:
subsets =[]
for subset in os.listdir(DATA_PATH):
    if subset.endswith('.csv'):
        subsets.append(subset)
subsets

['train-00000-of-00007-bc5952582e004d67.csv',
 'train-00001-of-00007-71c80017bc45f30d.csv',
 'train-00002-of-00007-ee2d43f396e78fbc.csv',
 'train-00003-of-00007-529931154b42b51d.csv',
 'train-00004-of-00007-b269dc49374a2c0b.csv',
 'train-00005-of-00007-3dce5e05ddbad789.csv',
 'train-00006-of-00007-3d8a471ba0cf1c8d.csv']

In [5]:
subsets = [os.path.join(DATA_PATH, subset) for subset in subsets]

In [6]:
subsets

['../data/raw\\train-00000-of-00007-bc5952582e004d67.csv',
 '../data/raw\\train-00001-of-00007-71c80017bc45f30d.csv',
 '../data/raw\\train-00002-of-00007-ee2d43f396e78fbc.csv',
 '../data/raw\\train-00003-of-00007-529931154b42b51d.csv',
 '../data/raw\\train-00004-of-00007-b269dc49374a2c0b.csv',
 '../data/raw\\train-00005-of-00007-3dce5e05ddbad789.csv',
 '../data/raw\\train-00006-of-00007-3d8a471ba0cf1c8d.csv']

In [7]:
subsets = [os.path.normpath(path) for path in subsets]

In [8]:
dataframes = [pd.read_csv(df) for df in subsets]

In [9]:
full_df = pd.concat(dataframes,ignore_index=True)

##### 3- EDA

In [10]:
full_df.shape

(1392522, 3)

In [11]:
full_df.head()

  source  id                                               text
0  human   0  12 Years a Slave: An Analysis of the Film Essa...
1  human   1  20+ Social Media Post Ideas to Radically Simpl...
2  human   2  2022 Russian Invasion of Ukraine in Global Med...
3  human   3  533 U.S. 27 (2001) Kyllo v. United States: The...
4  human   4  A Charles Schwab Corporation Case Essay\n\nCha...

In [12]:
full_df.tail()

        source       id                                               text
1392517     ai  1418649  Today, I accomplished a major feat. I stepped ...
1392518     ai  1418650  As rockets rain down from the sky\nEurope trem...
1392519     ai  1418651  On January 6th, 2023, the world lost a true pi...
1392520     ai  1418652  A gene bank is a repository of genetic materia...
1392521     ai  1418655  On the twelfth day of Christmas, My true love ...

In [13]:
full_df.describe()

                 id
count  1.392522e+06
mean   7.089847e+05
std    4.095816e+05
min    0.000000e+00
25%    3.481302e+05
50%    7.127235e+05
75%    1.064353e+06
max    1.418655e+06

In [14]:
full_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1392522 entries, 0 to 1392521
Data columns (total 3 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   source  1392522 non-null  object
 1   id      1392522 non-null  int64
 2   text    1392362 non-null  object
dtypes: int64(1), object(2)
memory usage: 31.9+ MB

In [15]:
full_df.isna().sum()

source      0
id          0
text      160
dtype: int64

In [18]:
full_df.dropna(inplace=True)

In [19]:
full_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1392362 entries, 0 to 1392521
Data columns (total 3 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   source  1392362 non-null  object
 1   id      1392362 non-null  int64
 2   text    1392362 non-null  object
dtypes: int64(1), object(2)
memory usage: 42.5+ MB

In [20]:
full_df['text'].duplicated().sum()

6496

In [21]:
full_df.drop_duplicates(inplace=True)

In [22]:
full_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1392362 entries, 0 to 1392521
Data columns (total 3 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   source  1392362 non-null  object
 1   id      1392362 non-null  int64
 2   text    1392362 non-null  object
dtypes: int64(1), object(2)
memory usage: 42.5+ MB